# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Data files
/data

# Dev stuff
.git
.gitignore
LICENSE
README.md
deploy_rsa.enc
.travis.yml
.vscode

# GCP files
.gcloud
keyfile.json

# DB dumps
*.sql

# Travis CI files
travis_wait_*.log

# R stuff
.Rproj.user
.Rhistory
.Rprofile
packrat/lib*/
*.Rcheck
*_1.0.tar.gz