# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

.vscode

# R stuff
.Rproj.user
.Rhistory
packrat/lib*/
*.Rcheck
*_1.0.tar.gz
.Rprofile

# DB dumps
*.sql

# GCP files
.gcloud

# Travis CI files
travis_wait_*.log
